<div id="wrapper">
    <div class="content-block" id="footer">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">&copy; Copyright FluskTemplate | @DateTime.Now</div>
                <div class="col-xs-6 text-right">Theme by <a href="https://themewagon.com/" target="_blank">ThemeWagon</a></div>
            </div>
        </div>
    </div><!-- #footer -->
</div>