
@{
    ViewBag.Title = "FluskMasterUpdate | Servisler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-block parallax" id="services">
    <div class="container text-center">
        <header class="block-heading cleafix">
            <h1>Servisler</h1>
            <p>Ne yaptığımız hakkında bilgi edinin.</p>
        </header>
        <section class="block-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-send-o"></i>
                        <h2>Illustration</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-heart-o"></i>
                        <h2>3D Modeling</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <i class="fa fa-camera-retro"></i>
                        <h2>Photography</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- #services -->
